/* line 11, ../sass/donut.scss */
.donut {
  text-align: center;
  position: relative;
  height: 33px;
  width: 66px;
}

/* line 18, ../sass/donut.scss */
.donut-bow {
  width: 50px;
  height: 50px;
  border: 8px solid;
  border-color: transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 28, ../sass/donut.scss */
.donut-bow.yellow {
  border-left-color: #ccc366;
  border-top-color: #ccc366;
}
/* line 32, ../sass/donut.scss */
.donut-bow.orange {
  border-left-color: #cc8f66;
  border-top-color: #cc8f66;
}
/* line 36, ../sass/donut.scss */
.donut-bow.red {
  border-left-color: #cc6866;
  border-top-color: #cc6866;
}
/* line 40, ../sass/donut.scss */
.donut-bow.pink {
  border-left-color: #cc66c3;
  border-top-color: #cc66c3;
}
/* line 44, ../sass/donut.scss */
.donut-bow.violet {
  border-left-color: #a366cc;
  border-top-color: #a366cc;
}
/* line 48, ../sass/donut.scss */
.donut-bow.blue {
  border-left-color: #6670cc;
  border-top-color: #6670cc;
}
/* line 52, ../sass/donut.scss */
.donut-bow.green {
  border-left-color: #66cc74;
  border-top-color: #66cc74;
}

/* line 58, ../sass/donut.scss */
.donut-arrow, .donut-point {
  position: absolute;
  display: inline-block;
  background: black;
  left: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 66, ../sass/donut.scss */
.donut-arrow {
  height: 33px;
  width: 2px;
  bottom: 0;
  margin-left: -1px;
  -webkit-transform-origin: 50% 100% 0 50%;
  -moz-transform-origin: 50% 100% 0 50%;
  -ms-transform-origin: 50% 100% 0 50%;
  -o-transform-origin: 50% 100% 0 50%;
  transform-origin: 50% 100% 0 50%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 75, ../sass/donut.scss */
.donut-point {
  height: 4px;
  width: 4px;
  bottom: -2px;
  margin-left: -2px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
