@import "compass/css3";

$yellow: #CCC366;
$orange: #CC8F66;
$red: #CC6866;
$pink: #CC66C3;
$violet: #A366CC;
$blue: #6670CC;
$green: #66CC74;

.donut {
  text-align: center;
  position: relative;
  height: 33px;
  width: 66px;
}

.donut-bow {
  width: 50px;
  height: 50px;

  border: 8px solid;
  border-color: transparent;

  @include transform(rotate(45deg));
  @include border-radius(100%);

  &.yellow {
    border-left-color: $yellow;
    border-top-color: $yellow;
  }
  &.orange {
    border-left-color: $orange;
    border-top-color: $orange;
  }
  &.red {
    border-left-color: $red;
    border-top-color: $red;
  }
  &.pink {
    border-left-color: $pink;
    border-top-color: $pink;
  }
  &.violet {
    border-left-color: $violet;
    border-top-color: $violet;
  }
  &.blue {
    border-left-color: $blue;
    border-top-color: $blue;
  }
  &.green {
    border-left-color: $green;
    border-top-color: $green;
  }
}

.donut-arrow, .donut-point {
  position: absolute;
  display: inline-block;
  background: black;
  left: 50%;
  @include box-sizing(border-box);
}

.donut-arrow {
  height: 33px;
  width: 2px;
  bottom: 0;
  margin-left: -1px;
  @include transform-origin(50% 100% 0);
  @include transition(all 1s);
}

.donut-point {
  height: 4px;
  width: 4px;
  bottom: -2px;
  margin-left: -2px;
  @include border-radius(100%);
}

